.*
!.gitignore
!.gitattributes
*.pyc
*.log
*.Log
*.out
_*

SRA_upload/files_to_upload

results/*
!results/notebooks
!results/renumbered_codoncounts
!results/avgdiffsel
results/avgdiffsel/*
!results/avgdiffsel/avg_sel_tidy.csv
!results/figures
results/figures/*
!results/figures/final
results/figures/final/*.pdf
