.*
!.gitignore
!.gitattributes
*.pyc
*.log
*.Log
*.out
_*

SRA_upload/files_to_upload

results/*
!results/notebooks
!results/renumbered_codoncounts
!results/avgdiffsel
results/avgdiffsel/*
!results/avgdiffsel/full_logo_plots
results/avgdiffsel/full_logo_plots/*
!results/avgdiffsel/full_logo_plots/*diffsel.pdf
!results/avgdiffsel/avg_sel_tidy.csv
!results/diffsel
results/diffsel/*
!results/diffsel/*lib*diffsel.csv
!results/figures
results/figures/*
!results/figures/final
results/figures/final/*
!results/figures/final/*.pdf
!results/selection_tables
!results/neutralization_assays
results/neutralization_assays/*
!results/neutralization_assays/neut_assay_figs_fit_params.csv
